<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EMPRESA_ARH.Properties.Settings.EMPRESA_ARHConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EMPRESA_ARH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EMPRESA_ARH.Properties.Settings.EMPRESA_CAAMConnectionString"
            connectionString="Data Source=CHALINS\ROOT;Initial Catalog=EMPRESA_CAAM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EMPRESA_ARH.Properties.Settings.EMPRESA_CAAMConnectionString1"
            connectionString="Data Source=CHALINS;Initial Catalog=EMPRESA_CAAM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>